@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce-left {
    0% { transform: translateX(0); }
    50% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
  }
  
  .bounce-left {
    animation: bounce-left 1s infinite;
  }
  